# IDE settings
.idea

# output files
WebContent/WEB-INF/classes/
WebContent/WEB-INF/lib/
WebContent/resources/
build/
dist/

# files patched from integrate_SPEC.pl
src/org/cloudcmp/tasks/compute/compress/Compress.java
src/org/cloudcmp/tasks/compute/compress/CompressTask.java
src/org/cloudcmp/tasks/compute/crypto/Util.java
src/org/cloudcmp/tasks/compute/crypto/aes/CryptoAESTask.java
src/org/cloudcmp/tasks/compute/crypto/rsa/CryptoRSATask.java
src/org/cloudcmp/tasks/compute/crypto/signverify/CryptoSignverifyTask.java
src/org/cloudcmp/tasks/compute/mpegaudio/MpegaudioTask.java
src/org/cloudcmp/tasks/compute/scimark/fft/ScimarkFFTTask.java
src/org/cloudcmp/tasks/compute/scimark/lu/ScimarkLUTask.java
src/org/cloudcmp/tasks/compute/scimark/monte_carlo/ScimarkMonteCarloTask.java
src/org/cloudcmp/tasks/compute/scimark/sor/ScimarkSORTask.java
src/org/cloudcmp/tasks/compute/scimark/sparse/ScimarkSparseTask.java
src/org/cloudcmp/tasks/compute/scimark/utils/Constants.java
src/org/cloudcmp/tasks/compute/scimark/utils/Random.java
src/org/cloudcmp/tasks/compute/scimark/utils/Stopwatch.java
src/org/cloudcmp/tasks/compute/scimark/utils/kernel.java
src/org/cloudcmp/tasks/compute/serial/SerialTask.java
src/org/cloudcmp/tasks/compute/serial/Utils.java
src/org/cloudcmp/tasks/compute/serial/data/Child.java
src/org/cloudcmp/tasks/compute/serial/data/Handler.java
src/org/cloudcmp/tasks/compute/serial/data/InterfaceForProxy.java
src/org/cloudcmp/tasks/compute/serial/data/ProxiedClass.java
src/org/cloudcmp/tasks/compute/serial/data/TestArray.java
src/org/cloudcmp/tasks/compute/serial/data/TestArrayDouble.java
src/org/cloudcmp/tasks/compute/serial/data/TestArrayList.java
src/org/cloudcmp/tasks/compute/serial/data/TestBigInteger.java
src/org/cloudcmp/tasks/compute/serial/data/TestByteArray.java
src/org/cloudcmp/tasks/compute/serial/data/TestClassReferenceTest.java
src/org/cloudcmp/tasks/compute/serial/data/TestClassWithSQLDateOnly.java
src/org/cloudcmp/tasks/compute/serial/data/TestDomainObject.java
src/org/cloudcmp/tasks/compute/serial/data/TestExceptionReference.java
src/org/cloudcmp/tasks/compute/serial/data/TestExternalizable.java
src/org/cloudcmp/tasks/compute/serial/data/TestHandler.java
src/org/cloudcmp/tasks/compute/serial/data/TestHugeData.java
src/org/cloudcmp/tasks/compute/serial/data/TestParent.java
src/org/cloudcmp/tasks/compute/serial/data/TestPayload.java
src/org/cloudcmp/tasks/compute/serial/data/TestProxy.java
src/org/cloudcmp/tasks/compute/serial/data/TestReadResolve.java
src/org/cloudcmp/tasks/compute/serial/data/TestSimple.java
src/org/cloudcmp/tasks/compute/serial/data/TestWithBigDecimal.java
src/org/cloudcmp/tasks/compute/serial/data/TestWithFinalField.java
src/org/cloudcmp/tasks/compute/sunflow/SunflowTask.java
